/*Förenklar min padding och margin för boxen */
*,*::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(Images/skull.jpg);
}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#text {
    margin-top: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#journey {
    height: 250px;
    border-radius: 5px;
    
  }

.container {
    width: 900px;
    max-width: 80%;
    background-image: url(Images/book.jpg);
    padding: 10px;
    margin-top: 15px;
    border-radius: 6px;
    box-shadow: 0 0 10px 3px;
    font-size: 15px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}
.btn {
    background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    border: 1 px solid hsl(48, 89%, 37%, 0.5);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(64, 59, 12);
    outline: none;
    box-shadow: 1px 1px rgb(169, 155, 1);
    height: 40px;
    font-size: 15px;
}

.btn:hover {
    border-color: rgb(248, 244, 244);
}